@import "https://fonts.googleapis.com/css?family=Merriweather+Sans" ;

body{
    font-family: "Merriweather Sans";
}
section#login{
    background: url("../pictures/map-background.png");
//    *{outline: 1px solid rgba(0,255,0,0.3)}
    .content{
        background: rgba(8,19,48,0.8);

        .logo{
            width:220px;
            margin: 0 auto ;
        }
        h1{
            
        }
        p{
             margin-bottom: 80px;
            padding-top: 30px;
        }
        button{
            width: 230px;
            margin: 10px 0;
            background: rgb(59,89,152);
            padding: 10px 0;
            font-weight: 300;
            box-shadow: 1px 1px rgba(0,0,0,0.4);
            
        }
        button:hover{
            background: #000;
            color: #fff;
        }
        
    }  
}


section#registro{


section#registro-comp{
    background: url("../pictures/map-background.png");
//    *{outline: 1px solid rgba(0,255,0,0.3)}
    .content{
        background: rgba(8,19,48,0.8);

    
    h2{
        padding-bottom: 20px;
        color: cornflowerblue;
    }
    form {
        .form-group {
    margin-bottom: 5px !important; 
        }
        button{
            width: 100%;
            margin: 10px 0;
            background: rgb(255,104,104);
        }
        }
    }
    
}


section#login{

//jvcnvjcnvmc google
.profile{
    border: 3px solid #B7B7B7;
    padding: 10px;
    margin-top: 10px;
    width: 350px;
    background-color: #F7F7F7;
    height: 160px;
}
.profile p{margin: 0px 0px 10px 0px;}
.head{margin-bottom: 10px;}
.head a{float: right;}
.profile img{width: 100px;float: left;margin: 0px 10px 10px 0px;}
.proDetails{float: left;}
        
//login de organizacion
section#log-orga{

    
background: url("../pictures/map-background.png");
}
.content{
        background: rgba(8,19,48,0.8);
    
}
.login {
  width: 100%;

  margin: 16px auto;
  font-size: 16px;
}


.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}


.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color:  rgb(255,104,104);
}
.login-header {
  background:  rgba(0,0,0,0.8);
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
}
}
