/*@import "variables/variables";
@import "mixin/mixin";*/
@import "_accion";
@import "https://fonts.googleapis.com/css?family=Merriweather+Sans" ;
/************************GENERAL************************/
@import '_reporte.scss';
    
@import"login";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather Sans" !important;
}
section{
    //lkjfdsgldkfg
    //background: rgba(0,0,255,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    color: #fff;
    //background: url("../pictures/map-background.png");
}
.visible{
    display: table;
    opacity: 1;
    //background: rgba(8,19,48,0.8);
}
.content{
    display: table-cell;
    vertical-align: middle;
  
}

